$primary:                            #d63384;
$component-active-bg:                #d63384;
$component-active-color:             #d63384;
$accordion-button-active-color:      #d63384; 

@import './scss/bootstrap';