
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load sass_tags %}

    <link href="{% sass_src 'custom.scss' %}" rel="stylesheet" type="text/css" />
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>

    {% block title %}{% endblock %}
</head>

<body style="background-color: #ffeff1;">
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>

</html>