{% extends "base_generic.html" %}

{% block content %}
  <h1>짭 군돌이</h1>
  <p>군 복무일수 계산기</p>
  <li><a href="{% url 'index' %}">Home</a></li>

  <h1>용사 목록</h1>
  <table border="1">
    {% for s in soldiers %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.enter_date }}</td>
      <td>{{ s.army_choice }}</td>
      <td>{{ s.end_date }}</td>
      <td>{{ s.remain_days }}</td>
      <td><a href="delete/{{ s.id }}">삭제</a></td>
      <td><a href="update/{{ s.id }}">수정</a></td>      
    </tr>
    {% endfor %}
  </table>

  <p>
    <a href='addsoldier/'>군인 추가하기</a>
  </p>
{% endblock %}