{% extends "base_generic.html" %}

{% block content %}
  <h1>짭 군돌이</h1>
  <p>군 복무일수 계산기</p>

  <h1>용사 목록</h1>
  <table border="1">
    <tr>
      <td>이름</td>
      <td>입대일</td>
      <td>병역 종류</td>
      <td>전역일</td>
      <td>남은 복무기간</td>
      <td>한줄소개</td>
      <td>비밀번호</td>
      <td>총 복무기간</td>
      <td>퍼센트</td>
      <td>삭제</td>
      <td>수정</td>
    </tr>
    {% for s in soldiers %}
    <tr>
      <td><a href="detail/{{ s.id }}">{{ s.name }}</a></td>
      <td>{{ s.enter_date }}</td>
      <td>{{ s.army_choice }}</td>
      <td>{{ s.end_date }}</td>
      <td>{{ s.remain_days }}</td>
      <td>{{ s.bio }}</td>
      <td>{{ s.password }}</td>
      <td>{{ s.total_days }}</td>
      <td>{{ s.percent }}</td>
      <td><a href="delete/{{ s.id }}">삭제</a></td>
      <td><a href="update/{{ s.id }}">수정</a></td>      
    </tr>
    {% endfor %}
  </table>

  <p>
    <a href='addsoldier/'>군인 추가하기</a>
  </p>
{% endblock %}