{% extends "base_generic.html" %}

{% block title %}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
{% endblock %}

{% block content %}

<table border="1">
    <tr>
        <td>이름</td>
        <td>입대일</td>
        <td>병역 종류</td>
        <td>전역일</td>
        <td>남은 복무기간</td>
        <td>한줄소개</td>
        <td>비밀번호</td>
        <td>총 복무기간</td>
        <td>퍼센트</td>
        <td>삭제</td>
        <td>수정</td>
    </tr>
    <tr>
        <td>{{ soldier.name }}</td>
        <td>{{ soldier.enter_date|date:"Y-m-d" }}</td>
        <td>{{ soldier.army_choice }}</td>
        <td>{{ soldier.end_date }}</td>
        <td>{{ soldier.remain_days }}</td>
        <td>{{ soldier.bio }}</td>
        <td>{{ soldier.password }}</td>
        <td>{{ soldier.total_days }}</td>
        <td id="output"></td>
        <td>
            <a href="{{ soldier.id }}/delete">삭제</a>
        </td>
        <td>
            <a href="{{ soldier.id }}/update">수정</a>
        </td>
    </tr>
</table>
<div class="progress" style="height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span id="output2"></span></div>
</div>
<div>
    <a href="{% url 'soldier-list' %}">목록으로</a>
    
    <py-script>
    import asyncio
    from datetime import datetime

    async def show_percent():
        while True:
            await asyncio.sleep(0.01)
            enter_date = "{{ soldier.enter_date|date:"Y-m-d" }}"
            enter_date_obj = datetime.strptime(enter_date, "%Y-%m-%d")
            end_date = "{{ soldier.end_date|date:"Y-m-d" }}"
            end_date_obj = datetime.strptime(end_date, "%Y-%m-%d")
            
            serve_timedelta = (datetime.now() - enter_date_obj)
            total_timedelta = (end_date_obj - enter_date_obj)

            percent = serve_timedelta.total_seconds() / total_timedelta.total_seconds() * 100

            if percent > 100:
                percent = 100
            elif (-1) * percent > 0:
                percent = 0

            Element("output").write("{0} %".format(round(percent, 7)))
            Element("output2").write("{0} %".format(round(percent, 7)))

    pyscript.run_until_complete(show_percent())
    </py-script>
    {% endblock %}