{% extends "base_generic.html" %}

{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <div class="container text-center">
        <header>
            <div class="my-3">
                <p class="fs-5 fw-normal">아래 항목을 작성해주세요.</p>
            </div>
        </header>
        <main>
            <div class="py-2 shadow rounded bg-white">
                <form method="POST">
                    {% csrf_token %}
                    <table class="mx-auto my-3">
                        {{ form.as_table }}
                    </table>
                    <div class="my-3">
                        <input type="submit" class="btn btn-outline-danger btn-sm mx-3" value="제출">
                        <button type="button" class="btn btn-outline-danger btn-sm mx-3" onclick="location.href='/fake_gundori/soldier'">뒤로가기</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

{% endblock %}