{% extends "base_generic.html" %}

{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <div class="container text-center" style="font-family:Nanum Gothic;">
        <header>
            <div class="my-3">
                <h2 style="font-weight:700;">군인 추가하기</h2>
                <p>아래 항목을 작성해주세요.</p>
            </div>
        </header>
        <main>
            <div style="background-color:white;">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="제출">
                    <button type="button" onclick="{{ soldier.id }}/delete">삭제</button>
                </form>
            </div>
        </main>
    </div>
</div>


{% endblock %}