{% extends "base_generic.html" %}

{% block content %}

<table border="1">
    <tr>
        <td>이름</td>
        <td>입대일</td>
        <td>병역 종류</td>
        <td>전역일</td>
        <td>남은 복무기간</td>
        <td>한줄소개</td>
        <td>비밀번호</td>
        <td>총 복무기간</td>
        <td>퍼센트</td>
        <td>pyscript</td>
        <td>삭제</td>
        <td>수정</td>
    </tr>
    <tr>
        <td>{{ soldier.name }}</td>
        <td>{{ soldier.enter_date|date:"d-m-Y" }}</td>
        <td>{{ soldier.army_choice }}</td>
        <td>{{ soldier.end_date }}</td>
        <td>{{ soldier.remain_days }}</td>
        <td>{{ soldier.bio }}</td>
        <td>{{ soldier.password }}</td>
        <td>{{ soldier.total_days }}</td>
        <td>{{ soldier.percent }} %</td>
        <td id="output">
        </td>
        <td>
            <a href="{{ soldier.id }}/delete">삭제</a>
        </td>
        <td>
            <a href="{{ soldier.id }}/update">수정</a>
        </td>
    </tr>
</table>
<div>
    <a href="{% url 'soldier-list' %}">목록으로</a>
    
    <py-script>
    import asyncio
    from datetime import datetime

    async def show_percent():
        while True:
            await asyncio.sleep(1)
            enter_date = "{{ soldier.enter_date }}"
            enter_date_obj = datetime.strptime(enter_date, "%B %d, %Y, midnight")
            end_date = "{{ soldier.end_date }}"

            serve_timedelta = (datetime.now() - enter_date_obj)
            
            Element("output").write(serve_timedelta)

    pyscript.run_until_complete(show_percent())
    </py-script>
    {% endblock %}