{% extends "base_generic.html" %}

{% block title %}
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
{% endblock %}

{% block content %}
<div class="container-sm bd-gutter mt-3 my-md-4 bd-layout">
    <div class="bd-content ps-lg-2">
        <div class="row row-cols-1 row-cols-md-auto g-3 g-lg-4">
          <div class="col">
            <div class="card text-bg-light mx-auto" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">짭 군돌이</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">칭구들의 전역일이 궁금하다면 여기로 들어와주세요!</p>
                    <a href="/fake_gundori" class="btn btn-warning">바로가기</a>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-light mx-auto" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">블로그</h5>
                </div>
              <div class="card-body">
                <p class="card-text">여기는 개인 블로그입니다. (아직 공사중 주의)</p>
                <a href="/blog" class="btn btn-warning">바로가기</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-light mx-auto" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">지금 미국 시간은?</h5>
                </div>
              <div class="card-body">
                <p class="card-text">미국에 교환학생 간 bestie를 위한 한국&미국 시계입니다!</p>
                    <div>
                        <div>
                            <p>현재 시각:</p>
                            <p>한국은 <span class="badge rounded-pill bg-warning text-wrap" id="korea"></span></p>
                            <p>뉴욕은 <span class="badge rounded-pill bg-warning text-wrap" id="newyork"></span></p>
                        </div>
                        <py-script>
                            import asyncio
                            from datetime import datetime, timedelta
                            async def current_time():
                                while True:
                                    await asyncio.sleep(1)

                                    time_utc = datetime.utcnow()
                                    time_kr = time_utc + timedelta(hours=9)
                                    time_nw = time_utc + timedelta(hours=-5)

                                    time_now = datetime.now()
                                    Element("newyork").write("{0}".format(time_nw.strftime("%m월 %d일 %H시 %M분 %S초")))
                                    Element("korea").write("{0}".format(time_kr.strftime("%m월 %d일 %H시 %M분 %S초")))
                            pyscript.run_until_complete(current_time())
                        </py-script>
                    </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-light mx-auto" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">환율 정보</h5>
                </div>
              <div class="card-body">
                <p class="card-text">기준날짜: {{ last_updated }}</p>
                <p class="card-text">1엔당 {{ krw2jpy }}원</p>
                <p class="card-text">1달러당 {{ krw2usd }}원</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-light mx-auto" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">What's More?</h5>
                </div>
              <div class="card-body">
                <p class="card-text">개발중입니다. 조금만 기다려주세요!</p>
                <a href="#" class="btn btn-warning">바로가기</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}